{% extends 'rate_base.html' %}
{% load static %}
{% block scripts %}
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src='{% static 'js/jquery.js' %}'></script>
<script type="text/javascript" src='{% static 'image-search.js' %}'></script>
<script type='text/javascript'>
</script>
 {% endblock %}

{% block style %}
<style type="text/css">
</style>
{% endblock %}


{% block title %} Adding Images to the DB Form {% endblock %}



{% block content %} 

<div id="searchBar">
  <input id='searchTerm' type='text'>
  <button type="button" id="search"> Search </button> </br>
</div> <!--end of searchBar -->

 <form method='post' action='.'>
 {% csrf_token %}
 <!-- <div id="tableDiv"><table id="table" border='1' cellspacing='5'></table></div>  -->
 {% for form in forms %}
 	<div id='iBox' border='1' class= 'iBox'>{{form}}</div>
 {% endfor %}
</form>
{% endblock %}

{% block pageFooter %}
<div id='test'> test div </div>{% endblock %}